* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.card {
  width: 35rem;
  min-height: 80vh;
  padding: 0rem 5rem;
  border-radius: 30px;
  transform-style: preserve-3d;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2),
              0 0 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sneaker img {
  width: 20rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.circle {
  position: absolute;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  z-index: 1;
  background: linear-gradient(
    to right,
    rgba(245, 70, 66, 0.75),
    rgba(8, 83, 156, 0.75)
  );
}

.info__title {
  font-size: 3rem;
  font-weight: 900;
  transition: all 0.75s ease-out;
}

.info__subtitle {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: 500;
  transition: all 0.75s ease-out;
}

.info__sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}

.sizes__btn {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  color: #585858;
}

.sizes__btn.size__active {
  background-color: #585858;
  color: #fff;
}

.info__purchase {
  margin-top: 5rem;
  transition: all 0.75s ease-out;
}

.purchase__btn {
  width: 100%;
  padding: 1rem 0rem;
  background-color: #f54642;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 600;
  transition: all 0.75s ease-out;
}