:root {
  --primary: #2175F5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #EFEFEF;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  overflow: hidden;
}

.container__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 860px;
}

.card__shoesBackground {
  position: relative;
  width: 50%;
  height: 475px;
  box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
    0 -15px 35px rgba(0, 0, 0, 0.1),
    0 15px 35px rgba(0, 0, 0, 0.1);
}

.shoesBackground__gradients {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.gradients__gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
}

.primary-gradient {
  z-index: 0;
  animation: 1s width ease;
}

@keyframes width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.secondary-gradient {
  z-index: -1;
}

.gradients__gradient[color="blue"] {
  background-image: linear-gradient(45deg, #0136AF, #22ABFA);
}

.gradients__gradient[color="red"] {
  background-image: linear-gradient(45deg, #D62926, #EE625F);
}

.gradients__gradient[color="green"] {
  background-image: linear-gradient(45deg, #11998E, #1CE669);
}

.gradients__gradient[color="orange"] {
  background-image: linear-gradient(45deg, #FC4A1A, #F7b733);
}

.gradients__gradient[color="black"] {
  background-image: linear-gradient(45deg, #111, #666);
}

.shoesBackground__logo {
  position: absolute;
  width: 100px;
  left: 20px;
  top: 20px;
}

.shoesBackground__share {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  background-color: #FFF;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--primary);
  transition: .5s;
}

.shoesBackground__share:hover {
  transform: scale(1.1);
}

.shoesBackground__share i {
  line-height: 50px;
}

.shoesBackground__title {
  position: absolute;
  top: 85px;
  left: 15px;
  font-size: 11rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: .9;
  color: #FFF;
  opacity: .1;
}

.shoesBackground__shoes {
  position: absolute;
  width: 140%;
  bottom: 0;
  right: 0;
  transform: rotate(-20deg);
  opacity: 0;
  transition: .5s;
}

.shoesBackground__shoes.show {
  opacity: 1;
}

.card__info {
  width: 50%;
  background-color: #FFF;
  z-index: 1;
  padding: 35px 40px;
  box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1),
  0 -15px 35px rgba(0, 0, 0, 0.1),
  0 15px 35px rgba(0, 0, 0, 0.1);
}

.info__shoes-name {
  padding: 0 0 10px 0;
}

.info__shoes-name div {
  display: flex;
  align-items: center;
}

.info__shoes-name div h2 {
  margin-right: 10px;
  font-size: 2rem;
  color: #333;
  line-height: 1;
}

.info__shoes-name div span {
  background-color: var(--primary);
  text-transform: uppercase;
  color: #FFF;
  padding: 3px 10px;
  border-radius: 5px;
  transition: .5s;
}

.info__shoes-name h3 {
  font-weight: 500;
  color: #444;
  margin-top: 3px;
  text-transform: capitalize;
}

.info__shoes-name,
.info__description,
.info__color-container,
.info__size-container {
  border-bottom: 1px solid #DADADA;
}

.info__description {
  padding: 10px 0;
}

.description__title,
.color-container__title,
.size-container__title {
  color: #3A3A3A;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.description__text {
  color: #555;
  font-size: 17px;
  text-align: justify;
}

.info__color-container {
  padding: 10px 0;
}

.color-container__colors {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.colors__color {
  margin: 0 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid ;
  cursor: pointer;
  transition: .5s;
}

.colors__color[color="black"]{
  background-color: #444;
  border-color: #444;
}

.colors__color[color="blue"]{
  background-color: #2175F5;
  border-color: #2175F5;
}
.colors__color[color="red"]{
  background-color: #F84848;
  border-color: #F84848;
}

.colors__color[color="green"]{
  background-color: #29B864;
  border-color: #29B864;
}

.colors__color[color="orange"]{
  background-color: #FF5521;
  border-color: #FF5521;
}

.colors__color.active {
  border-color: #FFF;
  box-shadow: 0 0 10px .5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.info__size-container {
  padding: 10px 0;
  margin-bottom: 10px;
}

.size-container__sizes {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.sizes__size {
  margin: 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #EEE;
  text-align: center;
  line-height: 40px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

.sizes__size.active {
  background-color: var(--primary);
  color: #FFF;
}

.info__buy-price {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy-price__buy {
  position: relative;
  padding: .7rem 1rem;
  background-color: var(--primary);
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.1rem;
  transition: .5s;
}

.buy-price__buy::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .1);
  transform: scaleX(0);
  transform-origin: left;
  transition: .5s;
}

.buy-price__buy:hover::before {
  transform: scaleX(1);
}

.buy-price__buy i {
  position: relative;
  margin-right: 4px;
  z-index: 999999;
}

.buy-price__buy span {
  position: relative;
  z-index: 999999;
}

.buy-price__price {
  position: relative;
  display: flex;
  height: 48px;
  color: #333;
}

.buy-price__price h2 {
  align-self: center;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1;
}

.buy-price__price span {
  align-items: top;
  top: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

/* .buy-price__price i {
  font-size: 1.4rem;
  margin-right: 1px;
} */

@media (max-width: 1070px) {
  .shoesBackground__shoes {
    width: 135%;
  }
}

@media (max-width: 1000px) {
  .container__card {
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
  }

  .container__card > div {
    width: 100%;
    box-shadow: none;
  }
  
  .shoesBackground__shoes {
    width: 100%;
    transform: rotate(-5deg) translateY(-50%);
    top: 55%;
    right: 2%;
  }

  .shoesBackground__title {
    top: 20%;
    left: 5%;
  }
}

@media (max-width: 600px) {
  .shoesBackground__share {
    width: 40px;
    height: 40px;
  }

  .shoesBackground__share i {
    font-size: 1rem;
    line-height: 40px;
  }

  .shoesBackground__logo {
    width: 70px;
  }
}

@media (max-width: 490px) {
  .shoesBackground__title {
    font-size: 7rem;
  }

  .info__shoes-name div h2 {
    font-size: 1.3rem;
  }

  .info__shoes-name div h3 {
    font-size: 1rem;
  }

  .info__shoes-name div span {
    padding: 2px 6px;
    font-size: .9rem;
  }

  .description__title,
  .color-container__title,
  .size-container__title {
    font-size: .9rem;
  }

  .description__text {
    font-size: .8rem;
  }

  .buy-price__buy {
    padding: .5rem .8rem;
    font-size: .8rem;
  }

  .buy-price__price h2 {
    font-size: 1.5rem;
  }

  .buy-price__price i {
    font-size: .9rem;
  }

  .sizes__size {
    width: 30px;
    height: 30px;
    margin: 0 8px;
    font-size: .9rem;
    line-height: 30px;
  }

  .colors__color {
    margin: 0 6px;
    width: 20px;
    height: 20px;
    border-width: 4px;
  }

  .shoesBackground__share {
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
  }

  .shoesBackground__share i {
    font-size: .8rem;
    line-height: 35px;
  }

  .shoesBackground__logo {
    width: 60px;
    top: 10px;
    left: 10px;
  }

  .card__info {
    padding: 20px;
  }

}

@media (max-width: 400px) {
  .buy-price__buy i {
    display: none;
  }

  .container {
    padding: 20px;
  }
}