.loading {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #212529;
  opacity: 80%;
}

.search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Blinker', sans-serif;
}

.search_title {
  font-size: 60px;
  color: #212529;
}

.search_title_github {
  font-weight: 500;
  margin-right: 20px;
}

.search_title_search {
  font-weight: 200;
  font-style: italic;
}

.search {
  text-align: center;
}

.search_form {
  display: flex;
  align-items: center;
  box-shadow: 0 0 3px 0 rgb(0 0 0 / 30%);
}

.search_input {
  width: 650px;
  height: 50px;
  margin: 0;
  padding: 0 12px;
  border: none;
  border-radius: 0;
  font-size: 20px;
  color: #5c5c5c;
  font-weight: 300;
}

.search_input:focus {
  outline: none;
}

.search_button {
  width: 100px;
  height: 50px;
  background-color: #ac53f2;
  border: none;
  cursor: pointer;
}

.search_button:hover {
  background-color: #9e36ee;
}

.search_button:disabled {
  cursor: auto;
  background-color: #999999;
}

.user_container {
  display: grid;
  padding: 50px 10%;
  grid-template-columns: 40% 60%;
  font-family: 'Raleway', sans-serif;
}

.user_avatar {
  width: 280px;
  height: 280px;
  margin-bottom: 12px;
  border-radius: 10px;
}

.user_name {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 8px;
}

.user_nickname {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 34px;
}

.user_bio {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.user_bio_img {
  padding: 0;
  width: 24px;
  margin-right: 8px;
}

.user_bio_text {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  color: #5c5c5c;
}