@font-face {
  font-family: "Monaco";
  src: url("../fonts/monaco.ttf");
}
* {
  font-family: "Raleway", sans-serif;
}

.github-search {
  font-size: 40px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .github-search {
    font-size: 60px;
  }
}

.font-monaco {
  font-family: "Monaco";
}

.opacity-area {
  position: absolute;
  left: 0;
  background: #000;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#user-avatar {
  margin-top: 53px;
  margin-bottom: 12px;
}

#user-name {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 7px;
}
@media (min-width: 992px) {
  #user-name {
    font-size: 35px;
  }
}

#user-login {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 33px;
}

.user-email,
.user-bio,
.user-organization,
.user-location,
.user-star,
.user-repositories,
.user-followers,
.user-following {
  margin-bottom: 14px;
}

.user-email-icon,
.user-bio-icon,
.user-organization-icon,
.user-location-icon,
.user-star-icon,
.user-repositories-icon,
.user-followers-icon,
.user-following-icon {
  max-width: 24px;
  max-height: 24px;
  margin-right: 7px;
}

#user-email,
#user-bio,
#user-organization-name,
#user-location-name,
#user-star-count,
#user-repositories-count,
#user-followers-count,
#user-following-count {
  font-size: 20px;
  font-weight: 300;
  color: #5c5c5c;
}

.repos {
  margin-top: 53px;
}

.repo {
  margin-bottom: 30px;
}

#user-avatar {
  width: 280px;
  height: 280px;
}

#repo-name {
  font-size: 25px;
  font-weight: normal;
  color: #ac53f2;
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  #repo-name {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  #repo-name {
    font-size: 35px;
  }
}

#repo-description {
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 11.2px;
}

.user-not-found {
  margin-top: 124px;
  font-size: 40px;
  font-weight: normal;
  color: #ac53f2;
}

.repo-not-found {
  font-size: 40px;
  font-weight: normal;
  color: #ac53f2;
}

#search {
  padding-top: 150px;
}
@media (min-width: 768px) {
  #search {
    padding-top: 244px;
  }
}

#search-bar .form-control {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  width: 240px;
  height: 50px;
  border-radius: 0;
  border: none;
  font-size: 20px;
  color: #5c5c5c;
  font-weight: 300;
}
#search-bar .form-control:focus {
  box-shadow: 0 0 3px 0 rgba(172, 83, 242, 0.3);
}
@media (min-width: 768px) and (max-width: 991px) {
  #search-bar .form-control {
    width: 500px;
  }
}
@media (min-width: 992px) {
  #search-bar .form-control {
    width: 650px;
  }
}
#search-bar button {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  background-color: #ac53f2;
}
#search-bar button:hover {
  background-color: #8a29d4;
}
#search-bar button:focus {
  background-color: #6e15b3;
  box-shadow: 0 0 3px 0 rgba(172, 83, 242, 0.3);
}
#search-bar button .search-icon {
  width: 30px;
  height: 30.1px;
}
@media (min-width: 768px) {
  #search-bar button {
    width: 100px;
  }
}

#result {
  display: none;
  padding-top: 35px;
}
#result .github-search {
  font-size: 40px;
  margin-bottom: 0;
}

#loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
